body {
    background-image: url('https://img.freepik.com/free-photo/sunset-sky-with-clouds-illuminated-vibrant-orange-hues_157027-2890.jpg?ga=GA1.1.803436240.1701795645&semt=ais_ai_generated');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:  #e7a67f;
    }
     #container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(233, 200, 200, 0.3), rgba(0, 0, 0, 0.6));
    min-height: 100vh;
    }
    #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    }
    h1{
    color: #6e575a;
    font-size: 60px;
    font-style: italic;
    text-shadow: 2px 2px white;
    }
    #input {
    background-color: rgba(142, 127, 161, 0.3);
    border-radius: 20px;
    border: 3px solid #FFF78A;
    padding: 15px;
    font-size: 20px;
    color: #000080;
    }
    #input:focus{
        background-color: #FFFF;
    }
    #when-where{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #city{
        color: #FFFF;
        font-size: 45px;
    }
    #date{
        color: #FFFF;
        font-size: 24px; 
        margin: 0;
    }
    #now{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #temp, #feels, #var,#wind{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #temperatureF, #temperatureC{
        color: #FFFF;
        font-size: 110px; 
        font-weight: bold; 
        text-shadow: 5px 10px black;
        margin: 0;
    }
    #feelsLikeF, #feelsLikeC{
        color: #FFFF;
        font-size: 30px; 
        font-weight: lighter;
        margin: 10px;
    }
    #windF, #windC{
        color: #FFFF;
        font-size: 26px; 
        font-weight: lighter;
        margin: 0;
    }
    #condition{
        color: #FFFF;
        font-size: 32px; 
        font-weight: bold;
        font-style: italic; 
    }
    #variationF, #variationC{
        color: #FFFF;
        font-size: 26px; 
        font-weight: lighter;
    }
    
    
